#include <behaviors.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>

// Layer defimitions
#define BASE 0
#define S_BASE 1
#define SYMB 2
#define S_SYMB 3
#define NUM  4
#define ARROWS 5
#define MOUSE 6
#define FMOUSE 7
#define SMOUSE 8
#define XSMOUSE 9
#define FKEYS 10
#define BT 11


&mmv {
   time-to-max-speed-ms = <120>;
   acceleration-exponent=<6>;
};

&mmv_input_listener {
    set_mouse_fast {
        layers = <FMOUSE>;
        input-processors = <&zip_xy_scaler 2 1>;
    };
};

&mmv_input_listener {
    set_mouse_slow {
        layers = <SMOUSE>;
        input-processors = <&zip_xy_scaler 1 2>;
    };
};

&mmv_input_listener {
    set_mouse_extra_slow {
        layers = <XSMOUSE>;
        input-processors = <&zip_xy_scaler 1 4>;
    };
};

    behaviors {
        lpbt: longpressbluetooth{
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <2000>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&none>, <&bt>;
        };
        lpbl: longpressbootloader{
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <2000>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&none>, <&bootloader>;
        };
    };

/ { 
    keymap {
        compatible = "zmk,keymap";
        // 0: base layer
        base_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R    &kp T               &kp Y      &kp U  &kp I      &kp O    &kp P
                &kp A  &kp S  &kp D  &kp F    &kp G               &kp H      &kp J  &kp K      &kp L    &kp BKSP
                &kp Z  &kp X  &kp C  &kp V    &kp B               &kp N      &kp M  &kp COMMA  &kp DOT  &kp ENTER
                                     &kp SPC  &sl S_BASE          &sk RCTRL  &to SYMB
            >;
        };
        // 1: shift base layer
        shift_base_layer {
            bindings = <
                &kp LS(Q)  &kp LS(W)  &kp LS(E)  &kp LS(R)  &kp LS(T)          &kp LS(Y)  &kp LS(U)  &kp LS(I)  &kp LS(O)  &kp LS(P)
                &kp LS(A)  &kp LS(S)  &kp LS(D)  &kp LS(F)  &kp LS(G)          &kp LS(H)  &kp LS(J)  &kp LS(K)  &kp LS(L)  &kp ESC
                &kp LS(Z)  &kp LS(X)  &kp LS(C)  &kp LS(V)  &kp LS(B)          &kp LS(N)  &kp LS(M)  &kp UNDER  &kp COLON  &kp LS(ENTER)
                                                 &none      &none              &none      &none 
            >;
        };
        // 2: symbol layer
        symbol_layer {
            bindings = <
                &to FKEYS  &kp HASH   &kp PRCNT  &kp STAR   &kp CARET          &kp DLLR   &kp LBKT  &kp SQT    &kp N0     &to ARROWS
                &kp TAB    &kp MINUS  &kp BSLH   &kp SLASH  &kp QMARK          &kp LT     &kp LPAR  &kp DQT    &kp PLUS   &kp BKSP
                &kp CAPS   &kp PIPE   &kp EXCL   &kp TILDE  &kp COMMA          &kp SEMI   &kp LBRC  &kp GRAVE  &kp AT     &kp ENTER
                                                 &to BASE   &sl S_SYMB         &sk RALT   &to NUM
            >;
        };
        // 3: shift symbol layer
        shift_symbol_layer {
            bindings = <
                &to BT  &none  &none  &none  &none         &none   &kp RBKT  &none      &none      &to MOUSE
                &none   &none  &none  &none  &none         &kp GT  &kp RPAR  &none      &kp EQUAL  &kp ESC
                &none   &none  &none  &none  &none         &none   &kp RBRC  &kp UNDER  &kp AMPS   &none
                                      &none  &none         &none   &none
            >;
        };
        // 4: nunbers layer
        number_layer {
            bindings = <
                &kp N1         &kp N2  &kp N3     &kp N4     &kp N5             &kp N6    &kp N7  &kp N8  &kp N9  &kp N0
                &none          &none   &kp MINUS  &kp SLASH  &kp ESC            &kp DOT   &kp N4  &kp N5  &kp N6  &kp BKSP
                &kp C_AL_CALC  &none   &kp PLUS   &kp STAR   &kp EQUAL          &kp N0    &kp N1  &kp N2  &kp N3  &kp ENTER
                                                  &to BASE   &sk LSHIFT         &sk LGUI  &to SYMB
            >;
        };
        // 5: move layer
        move_layer {
            bindings = <
                &none  &none  &none  &none     &none             &kp INS    &kp DEL    &none      &none      &none
                &none  &none  &none  &none     &none             &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp BKSP
                &kp Z  &kp X  &kp C  &kp V     &none             &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp ENTER
                                     &to BASE  &sk LSHIFT        &sk RCTRL  &to SYMB
            >;
        };
        // 6: mouse layer
        mouse_layer {
            bindings = <
                &none          &none           &mmv MOVE_UP    &none            &none             &none       &mkp MB5   &msc SCRL_UP    &mo SMOUSE   &none
                &none          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none             &mo FMOUSE  &mkp LCLK  &mkp MCLK       &mkp RCLK    &kp BKSP
                &kp LS(LG(S))  &kp X           &kp C           &kp V            &none             &none       &mkp MB4   &msc SCRL_DOWN  &mo XSMOUSE  &kp ENTER
                                                               &to BASE         &sk LSHIFT        &sk RCTRL   &to SYMB
            >;
        };
        // 7: fast mouse layer
        fast_mouse_layer {
            bindings = <
                &none  &none           &mmv MOVE_UP    &none            &none         &none  &none      &none  &none  &none
                &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none         &none  &mkp LCLK  &none  &none  &none
                &none  &none           &none           &none            &none         &none  &none      &none  &none  &none
                                                       &none            &none         &none  &none
            >;
        };
        // 8: slow mouse layer
        slow_mouse_layer {
            bindings = <
                &none  &none           &mmv MOVE_UP    &none            &none         &none  &none      &none  &none  &none
                &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none         &none  &mkp LCLK  &none  &none  &none
                &none  &none           &none           &none            &none         &none  &none      &none  &none  &none
                                                       &none            &none         &none  &none
            >;
        };
        // 9: extra slow mouse layer
        extra_slow_mouse_layer {
            bindings = <
                &none  &none           &mmv MOVE_UP    &none            &none         &none  &none      &none  &none  &none
                &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none         &none  &mkp LCLK  &none  &none  &none
                &none  &none           &none           &none            &none         &none  &none      &none  &none  &none
                                                       &none            &none         &none  &none
            >;
        };
        // 10: Fn and media keys layer
        fn_media_layer {
            bindings = <
                &none       &kp C_MUTE  &kp  C_VOL_DN  &kp C_VOL_UP  &none             &kp F12  &kp F7  &kp F8  &kp F9  &none
                &kp C_STOP  &kp C_PREV  &kp  C_NEXT    &kp C_PP      &none             &kp F11  &kp F4  &kp F5  &kp F6  &none
                &none       &none       &none          &none         &none             &kp F10  &kp F1  &kp F2  &kp F3  &none
                                                       &to BASE      &sk LSHIFT        &none    &to SYMB
            >;
        };
        // 11: bluetooth layer
        bluetooth_layer {
            bindings = <
                &none  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 3 &lpbl                &lpbl             &bt BT_DISC 4  &bt BT_DISC 5  &bt BT_DISC 6  &none
                &none  &bt BT_SEL  0  &bt BT_SEL  1  &bt BT_SEL  3 &none                &none             &bt BT_SEL  4  &bt BT_SEL  5  &bt BT_SEL  6  &none
                &none  &none          &none          &none         &lpbt BT_CLR         &lpbt BT_CLR_ALL  &none          &none          &none          &none
                                                     &to BASE      &none                &none             &to SYMB
            >;
        };
    };
};
