/*
 * Copyright (c) 2025 duckyb

 * The first attempt in creating my own layout
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>

// Layer defimitions
#define BASE 0
#define PUNC 1
#define NUM  2
#define MMOVE 3
#define FKEYS 4
#define BT_CNF 5


&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

&mmv {
   time-to-max-speed-ms = <680>;
   acceleration-exponent=<2>;
};

/ { 


    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        base_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R    &kp T               &kp Y      &kp U  &kp I            &kp O          &kp P
                &kp A  &kp S  &kp D  &kp F    &kp G               &kp H      &kp J  &kp K            &kp L          &kp BKSP
                &kp Z  &kp X  &kp C  &kp V    &kp B               &kp N      &kp M  &td UNDER COMMA  &td COLON DOT  &kp ENTER
                                     &kp SPC  &sk LSHIFT         &sk RCTRL  &to PUNC
            >;
        };

        punctuation_layer {
            bindings = <
                &to FKEYS  &kp MINUS       &kp EQUAL  &kp N0     &kp CARET         &kp DLLR   &td RBKT LBKT  &kp SQT    &kp STAR   &to MMOVE
                &kp TAB    &td HASH PRCNT  &kp AT     &kp SLASH  &td BSLH          &td GT LT  &td RPAR LPAR  &kp DQT    &kp PLUS   &kp BKSP
                &kp CAPS   &td AMPS PIPE   &kp EXCL   &kp TILDE  &kp COMMA         &kp SEMI   &td RBRC RBRC  &kp GRAVE  &kp UNDER  &kp ENTER
                                                      &to BASE   &sk LSHIFT        &sk RALT   &to NUM
            >;
        };
        
        number_layer {
            bindings = <
                &kp N1      &kp N2  &kp N3     &kp N4     &kp N5             &kp N6    &kp N7  &kp N8  &kp N9  &kp N0
                &none       &none   &kp MINUS  &kp SLASH  &none              &kp DOT   &kp N4  &kp N5  &kp N6  &kp BKSP
                &C_AL_CALC  &none   &kp PLUS   &kp STAR   &kp EQUAL          &kp N0    &kp N1  &kp N2  &kp N3  &kp ENTER
                                               &to BASE   &sk LSHIFT         &sk LGUI  &to PUNC
            >;
        };
        
        mouse_move_layer {
            bindings = <
                &to BT_CNF     &none           &mmv MOVE_UP    &msc SCRL_UP     &mkp MB5          &mkp LCLK  &mkp MCLK  &kp RCLK   &kp INS    &kp DEL
                &none          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none             &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp BKSP
                &kp LS(LG(S))  &none           &none           &msc SCRL_DOWN   &mkp MB4          &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp ENTER
                                                               &to BASE         &sk LSHIFT        &sk LGUI   &to PUNC
        >;
        };
        
        fkeys_layer {
            bindings = <
                &to BT_CNF  &kp C_MUTE  &kp  C_VOL_DN  &kp C_VOL_UP  &none             &kp F12  &kp F7  &kp F8  &kp F9  &none
                &kp C_STOP  &kp C_PREV  &kp  C_NEXT    &kp C_PP      &none             &kp F11  &kp F4  &kp F5  &kp F6  &none
                &none       &none       &none          &none         &none             &kp F10  &kp F1  &kp F2  &kp F3  &none
                                                       &to BASE      &sk LSHIFT        &none    &to PUNC
            >;
        };      

        bt_config_layer {
            bindings = <
                &bootloader  &none  &bt BT_DISC 0  &bt BT_SEL 0  &bt BT_CLR        &bt BT_CLR  &bt BT_SEL 3  &bt BT_DISC 3  &none  &bootloader
                &none        &none  &bt BT_DISC 1  &bt BT_SEL 1  &bt BT_CLR        &bt BT_CLR  &bt BT_SEL 4  &bt BT_DISC 4  &none  &none
                &none        &none  &bt BT_DISC 2  &bt BT_SEL 2  &bt BT_CLR        &bt BT_CLR  &bt BT_SEL 5  &bt BT_DISC 5  &none  &none
                                                   &to BASE      &none             &none       &to PUNC
            >;
        };      
    };
};
